.title{
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 20vh
  }
  .subtitle{
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 3vh;
    font-weight: normal;
    text-align: center;
  }
  .aboutMe{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 3vh;
    text-align: left;
    overflow: none;
    width: 550px
  }
  @media only screen and (max-width: 700px) {
    .aboutMe{
      width: 400px
    }
  }
.me {padding-bottom: 2rem !important}