.title{
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 20vh
}

.subtitle{
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 3vh;
  font-weight: normal
}

.aboutMe{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 3vh;
  text-align: left;
  overflow: none;
  width: 550px
}