.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -130%);
    font-size: 20vh
}

.subtitle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 130%);
    font-weight: normal;
    text-align: center
}

.return {
    padding: 12px 24px;
    background-color: rgb(1, 1, 1);
    color: #fff;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    z-index: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 1450%);
    cursor: pointer;
    border: none !important;
}
.return span {
    z-index: 1;
    position: relative;
}
.return::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    transform: translate3d(-50%,-50%,0) scale3d(0,0,0);
    transition: opacity .4s cubic-bezier(.19,1,.22,1),transform .75s cubic-bezier(.19,1,.22,1);
    background-color: #fff;
    color: #000;
    opacity: 0;
}
.return:hover span {
    color: #000;
}
.return:hover::before {
    opacity: 1;
    transition-duration: .85s;
    transform: translate3d(-50%,-50%,0) scale3d(1.2,1.2,1.2);
}

.contact{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 2200%);
}
.contact a {
    text-decoration: underline;
    cursor: pointer;
}