
.container a {
    color: rgb(102, 102, 102) !important;
    font-size: 1rem;
}
.pages {
    position: sticky;
    bottom: 10px;
    left: 20%;
}

.container {
        display: flex;
        flex: 1;
        padding: 2rem 0;
        border-top: 1px solid #eaeaea;
        justify-content: center;
        align-items: center;
}