html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a:link{
  color: rgb(0, 0, 0)
}

a:visited{
  color: rgb(0, 0, 0)
}

a:hover{
  opacity: 0.6;
  transition: 0.3s;
}

a:active{
  color: #686868;
}

::selection {
  background: rgb(0, 0, 0);
  color: #fff
}
::-moz-selection {
  background: rgb(0, 0, 0);
  color: #fff
}
