.text1{
  color: #000000;
  z-index: 9;
  font-size: 7vw;
  top: 90%;
  left: 32%;
  position: absolute;
}

@media only screen and (max-width: 600px) {
  .text1{
    font-size: 7vh;
    top: 85%;
    left: 20%;
  }
}

.navbar{
  height: 7vh;
  width: 50%;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 7.5px );
  -webkit-backdrop-filter: blur( 7.5px );
  border-radius: 10px;
  position: fixed;
  left: 25%;
  z-index: 10
}

@media only screen and (max-width: 600px) {
  .navbar{
    height: 7vh;
    width: 40vh;
    position: fixed;
    left: 12%;
    z-index: 10
  }
}

.text2{
  color: #000000;
  z-index: 9;
  font-size: 7vw;
  top: 150%;
  right: 27%;
  position: absolute;
}

@media only screen and (max-width: 600px) {
  .text2{
    font-size: 6vh;
    top: 140%;
    left: 22%;
  }
}

.text3{
  color: #000000;
  z-index: 9;
  font-size: 7vw;
  left: 17%;
  top: 202%;
  position: absolute;
}

@media only screen and (max-width: 600px) {
  .text3{
    font-size: 6vh;
    top: 195%;
    left: 4%;
  }
}

.memoji{
  z-index: 9;
  position: absolute;
  left: 60%;
  top: 800%;
  height: 40vh !important;
  width: auto;
}

@media only screen and (max-width: 600px) {
  .memoji{
    position: absolute;
    left: 27%;
    top: 12%;
    height: 30vh;
    width: auto;
  }
}

.opentext{
  z-index: 9;
  font-size: 10vh;
  position: absolute;
  color: rgb(0, 0, 0);
  left: 35%;
  top: 650%;
  font-weight: 700
}

@media only screen and (max-width: 600px) {
  .opentext{
    font-size: 5vh;
    position: absolute;
    left: 24%;
    top: 45%;
  }
}

.topName{
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 3vh;
  position: fixed;
  top: 2.5%;
  left: 46.5%;
  z-index: 11;
}

@media only screen and (max-width: 600px) {
  .topName{
    font-size: 3vh;
    position: fixed;
    top: 2.5%;
    left: 40%;
  }
}

.text1ans{
  z-index: 9;
  font-size: 3vw;
  position: absolute;
  color: rgb(0, 0, 0);
  top: 117%;
  left: 22%;
}

@media only screen and (max-width: 600px) {
  .text1ans{
    z-index: 9;
    font-size: 4vh;
    position: absolute;
    color: rgb(0, 0, 0);
    top: 102%;
    left: 5%;
  }
}

.text2ans{
  z-index: 9;
  font-size: 3vw;
  position: absolute;
  top: 175%;
  left: 5%;
  right: 5%
}

@media only screen and (max-width: 600px) {
  .text2ans{
    z-index: 9;
    font-size: 4vh;
    position: absolute;
    color: rgb(0, 0, 0);
    top: 160%;
    left: 7%;
  }
}
  
.text3ans{
  z-index: 9;
  font-size: 4vh;
  color: rgb(0, 0, 0);
  top: 230%;
  left: 32%;
  position: absolute;
  text-align: left !important;
}

@media only screen and (max-width: 600px) {
  .text3ans{
    font-size: 4vh;
    position: absolute;
    top: 215%;
    left: 35%;
  }
}

.text3ans1{
  z-index: 9;
  font-size: 4vh;
  color: rgb(0, 0, 0);
  top: 230%;
  left: 47%;
  position: absolute;
  text-align: left !important;
}

@media only screen and (max-width: 600px) {
  .text3ans1{
    font-size: 4vh;
    position: absolute;
    top: 244%;
    left: 35%;
  }
}

.text3ans2{
  z-index: 9;
  font-size: 4vh;
  color: rgb(0, 0, 0);
  top: 230%;
  left: 62%;
  position: absolute;
  text-align: left !important;
}

@media only screen and (max-width: 600px) {
  .text3ans2{
    font-size: 4vh;
    position: absolute;
    top: 273%;
    left: 35%;
  }
}

.scrollarrow{
  position: absolute;
  top: 70%;
  left: 40.5%;
  height: 30vh;
  width: auto;
  z-index: 0
}

@media only screen and (max-width: 600px) {
  .scrollarrow{
    position: absolute;
    top: 55%;
    left: 28%;
    height: 20vh;
    width: auto;
  }
}

.github {
  display: inline;
  z-index: 9;
  position: absolute;
  margin: 0;
  top: 267%;
  left: 48.75%;
  background-color: transparent !important
}

@media only screen and (max-width: 600px) {
  .github{
    margin: 0;
    top: 310%;
    height: 3vh;
    width: auto;
    left: 29%;
    background-color: transparent !important
  }
}

.mail {
  display: inline;
  z-index: 9;
  position: absolute;
  margin: 0;
  top: 267%;
  left: 46%;
  background-color: transparent !important
}

@media only screen and (max-width: 600px) {
  .mail{
    margin: 0;
    top: 310%;
    height: 3vh;
    width: auto;
    left: 41%;
    background-color: transparent !important
  }
}

.twitter{
  display: inline;
  z-index: 9;
  position: absolute;
  margin: 0;
  top: 267%;
  height: 3vh;
  width: auto;
  left: 51.5%;
  background-color: transparent !important
}

@media only screen and (max-width: 600px) {
  .twitter{
    margin: 0;
    top: 310%;
    height: 3vh;
    width: auto;
    left: 53%;
    background-color: transparent !important
  }
}

.endtext{
  display: inline;
  z-index: 1;
  top: 271%;
  right: 40%;
  position: absolute;
  color: rgba(56,49,68,.6);
  font-size: 1.5vh;
}

@media only screen and (max-width: 600px) {
  .endtext{
    display: inline;
    z-index: 1;
    top: 315%;
    left: 35%;
    position: absolute;
    color: rgba(56,49,68,.6);
    font-size: 2vh;
  }
}

.sendBlog{
  display: inline-block;
  position: fixed;
  top: 2.7%;
  left: 26%;
  text-decoration: none;
  font-weight: bold;
  color: #707070 !important;
  font-size: 2.5vh;
  z-index: 11
}

@media only screen and (max-width: 600px) {
  .sendBlog{
    top: 2.5%;
    left: 70%;
    font-size: 2vh
  }
}

.sendProj{
  display: inline-block;
  position: fixed;
  top: 2.7%;
  left: 67%;
  text-decoration: none;
  font-weight: bold;
  font-size: 2.5vh;
  color: #707070 !important;
  z-index: 11
}

@media only screen and (max-width: 600px) {
  .sendProj{
    top: 4.5%;
    left: 65%;
    font-size: 2vh
  }
}

.sendStatus{
  display: inline-block;
  position: fixed;
  top: 2.7%;
  right: 35%;
  text-decoration: none;
  font-weight: bold;
  font-size: 2.5vh;
  color: #707070 !important;
  z-index: 11
}

@media only screen and (max-width: 600px) {
  .sendStatus{
    top: 4.5%;
    right: 70%;
    font-size: 2vh;
    cursor: url ("./cursor-select.png"), auto !important;
  }
}

.sendAbout{
  display: inline-block;
  position: fixed;
  top: 2.7%;
  left: 31.5%;
  text-decoration: none;
  color: #707070 !important;
  font-weight: bold;
  font-size: 2.5vh;
  z-index: 11;
  cursor: url ("./cursor-select.png") auto;
}

@media only screen and (max-width: 600px) {
  .sendAbout{
    top: 2%;
    left: 12.5%;
    font-size: 2vh
  }
}