.title{
  position: absolute;
  top: 7%;
  left: 5%;
  font-size: 10vh;
  font-weight: 700;
  width: 50rem
}
@media only screen and (max-width: 700px) {
  .title{
    font-size: 3rem;
    top: 15%;
    width: 30rem
  }
}
.paragraph {
  position: absolute;
  top: 39%;
  left: 5%;
  font-size: 2.5vh;
  width: 30rem;
  line-height: 2.5vh;
}
.name {
  position: absolute;
  top: 7%;
  left: 5%;
  font-size: 2.5vh
}
.alert a {
  color: #000 !important
}
.alert {
  background-color: rgba(162, 162, 162, 0.166); 
  border-radius: 0.5rem;
  width: 18rem;
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
}