.title{
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 20vh
}

.subtitle{
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 3vh;
    font-weight: normal
}
.gitRef{
    cursor: pointer;
    text-decoration: underline
}

.PStitle{
    position: absolute;
    top: 70%;
    left: 20%;
    font-size: 4.5vh
}
.PSdesc{
    position: absolute;
    top: 77%;
    left: 20%;
    font-size: 3vh;
}
.PSimg{
    position: absolute;
    top: 10%;
    left: 110%;
}

.HAimg{
    position: absolute;
    top: 10%
}