.container {
    padding: 0 2rem;
}
.title{
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 20vh
}
@media only screen and (max-width: 700px) {
    .title {
        font-size: 12vh;
        top: 7%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
  }
.subtitle{
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 3vh;
    font-weight: normal;
    width: 500px;
    text-align: center;
}
.gitRef{
    cursor: pointer;
    text-decoration: underline
}
.PStitle{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 7vh;
}
@media only screen and (max-width: 700px) {
    .PStitle {
        text-align: center;
        width: 500px
    }
  }
.PSdesc{
    position: absolute;
    font-size: 3vh;
    width: 500px;
    top: 73%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
}
@media only screen and (max-width: 700px) {
    .PSdesc {
        font-size: 3vh;
        top: 73%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
  }
.PSwrapper{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 150vh !important;
    z-index: -1
}
@media only screen and (max-width: 700px) {
    .PSwrapper {
        width: 50vh !important;
        top: 80%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
  }
.PSref{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, 0%);
    color: #0076FF;
    font-size: 2vh;
    font-weight: 400;
    cursor: pointer
}

.HAwrapper{
    position: absolute;
    top: 205%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 150vh !important
}
@media only screen and (max-width: 700px) {
    .HAwrapper {
    width: 50vh !important;
    top: 155%;
    left: 50%;
    transform: translate(-50%, 0%);
    }
  }
.HAdesc{
    position: absolute;
    font-size: 3vh;
    top: 213%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
}
@media only screen and (max-width: 700px) {
    .HAdesc {
        font-size: 3vh;
        width: 400px;
        top: 145%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
  }
.HAtitle{
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 7vh;
}
@media only screen and (max-width: 700px) {
    .HAtitle {
        text-align: center;
        width: 500px;
        top: 130%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
  }
.HAref{
    position: absolute;
    top: 225%;
    left: 50%;
    transform: translate(-50%, 0%);
    color: #0076FF;
    font-size: 2vh;
    font-weight: 400;
    cursor: pointer
}
@media only screen and (max-width: 700px) {
    .HAref {
        top: 157%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
  }

.posts {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 50%);
  }

/*
position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, 50%);
    
     position: absolute;
    margin: 2rem 5rem;*/