.title{
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 20vh
}

.subtitle{
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 3vh;
    font-weight: normal
}
.gitRef{
    cursor: pointer;
    text-decoration: underline
}