
.TextRotate {
    margin-bottom: 0;
    margin-top: 30px;
    opacity: 0;
    position: absolute;
    text-align: center;
    font-size: 2.7vh !important;
    position: absolute;
    top: 87vh;
    left: 2.2%;
    
    @media (min-width: 768px) { 
      font-size: 70px;
    }
    
    &:nth-of-type(1) { 
      animation: rotate-text-up 1.5s .75s; 
    }
    
    &:nth-of-type(2) { 
      animation: rotate-text-up 1.5s 2s; 
    }  
    
    &:nth-of-type(3) { 
      animation: fade-text-in 1.5s 3.25s forwards;
    }
  }
  
  @keyframes rotate-text-up { 
    0% {
      transform: translate3d(0, 80px, 0);
      opacity: 0;
    }
    
    20%, 80% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    
    100% {
      transform: translate3d(0, -40px, 0);
      opacity: 0;
    }
  }
  
  @keyframes fade-text-in { 
    0% {
      opacity: 0;
      transform: translate3d(0, 80px, 0);
    }
    
    50%, 100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  .info{
    font-size: 2.7vh;
    position: absolute;
    top: 87vh;
    left: 2.2%;
    color: #000
  }
  
  @media only screen and (max-width: 700px) {
    .info{
      font-size: 2.7vh;
      position: absolute;
      top: 55vh;
      left: 5.2%;
    }
  }