.cmdkbutton{
    position: absolute;
    left: 93.5%;
    top: 0.5%;
    margin: 1rem 0rem 0rem 1.6rem;
    cursor: pointer;
    padding: 0.5% 0.1% !important;
    background-color: white;
    color: black;
    height: 8vh;
    width: 8vh;
    font-size: 7vh !important;
    transition: transform 250ms cubic-bezier(.2,.8,.4,1);
    z-index: 1;
  } 
  .cmdkbutton:hover{
      transform: scale(1.10);
      background-color: #fff;
  }
  .cmdkbutton:active{
      transform: scale(0.9);
  }  
  @media only screen and (max-width: 700px) {
    .cmdkbutton{
      position: absolute;
      margin: 1.5rem 0rem 0rem -5rem;
      cursor: pointer;
      width: 8vh
    }
  }
.content {
  background-color:rgb(197, 42, 42);
  width: 1000px
}
.title {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 3rem;
  flex-direction: inline-block;
}
.subtitle {
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 1.3rem;
  text-align: center;
}
.intro {
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 1.5rem;
  flex-direction: inline-block;
}
.stack h2 {
  position: absolute;
  top: 50%;
  left: 25%;
  font-size: 2rem
}
.stack p {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 1.5rem;
  flex-direction: inline-block;
}
.design h2 {
  position: absolute;
  top: 80%;
  left: 25%;
  font-size: 2rem
}
.design p {
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 1.5rem;
  flex-direction: inline-block;
}
.inspiration h2 {
  position: absolute;
  top: 100%;
  left: 25%;
  font-size: 2rem
}
.inspiration p {
  position: absolute;
  top: 108%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 1.5rem;
  flex-direction: inline-block;
}
.inspiration a { cursor: pointer;  text-decoration: underline}
.initialMockups h2 {
  position: absolute;
  top: 132%;
  left: 25%;
  font-size: 2rem
}
.initialMockups p {
  position: absolute;
  top: 140%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 1.5rem;
  flex-direction: inline-block;
}
.mock1Container {
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100vh !important;
}
.mock2Container {
  position: absolute;
  top: 200%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100vh !important;
}
.conclusion h2 {
  position: absolute;
  top: 280%;
  left: 25%;
  font-size: 2rem
}
.conclusion p {
  position: absolute;
  top: 288%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 1.5rem
}