.cmdkbutton{
    position: absolute;
    left: 93.5%;
    top: 0.5%;
    margin: 1rem 0rem 0rem 1.6rem;
    cursor: pointer;
    padding: 0.5% 0.1% !important;
    background-color: white;
    color: black;
    height: 8vh;
    width: 8vh;
    font-size: 7vh !important;
    transition: transform 250ms cubic-bezier(.2,.8,.4,1);
    z-index: 1;
  } 
  .cmdkbutton:hover{
      transform: scale(1.10);
      background-color: #fff;
  }
  .cmdkbutton:active{
      transform: scale(0.9);
  }  
  @media only screen and (max-width: 700px) {
    .cmdkbutton{
      position: absolute;
      margin: 1.5rem 0rem 0rem -5rem;
      cursor: pointer;
      width: 8vh
    }
  }
.title {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 3rem;
  flex-direction: inline-block;
}
@media only screen and (max-width: 700px) {
  .title {
      font-size: 2rem;
      width: 500px;
      text-align: center;
  }
}
.subtitle {
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 1.3rem;
  text-align: center;
}
@media only screen and (max-width: 700px) {
  .subtitle {
      top: 25%
  }
}
.intro {
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 1.5rem;
  flex-direction: inline-block;
}
@media only screen and (max-width: 700px) {
  .intro {
    width: 400px;
  }
}
.stack h2 {
  position: absolute;
  top: 50%;
  left: 25%;
  font-size: 2rem
}
@media only screen and (max-width: 700px) {
  .stack h2 {
    top: 67%;
    left: 9%
  }
}
.stack p {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 1.5rem;
  flex-direction: inline-block;
}
@media only screen and (max-width: 700px) {
  .stack p {
    top: 72%;
    width: 400px
  }
}
.design h2 {
  position: absolute;
  top: 80%;
  left: 25%;
  font-size: 2rem
}
@media only screen and (max-width: 700px) {
  .design h2 {
    top: 97%;
    left: 9%
  }
}
.design p {
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 1.5rem;
  flex-direction: inline-block;
}
@media only screen and (max-width: 700px) {
  .design p {
    top: 102%;
    width: 400px
  }
}
.inspiration h2 {
  position: absolute;
  top: 100%;
  left: 25%;
  font-size: 2rem
}
.inspiration p {
  position: absolute;
  top: 108%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 1.5rem;
  flex-direction: inline-block;
}
@media only screen and (max-width: 700px) {
  .inspiration h2 {
    top: 125%;
    left: 9%;
  }
}
@media only screen and (max-width: 700px) {
  .inspiration p {
    top: 130%;
    width: 400px
  }
}
.inspiration a { cursor: pointer;  text-decoration: underline}
.initialMockups h2 {
  position: absolute;
  top: 132%;
  left: 25%;
  font-size: 2rem
}
.initialMockups p {
  position: absolute;
  top: 140%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 1.5rem;
  flex-direction: inline-block;
}
.mock1Container {
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100vh !important;
}
.mock2Container {
  position: absolute;
  top: 200%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100vh !important;
}
@media only screen and (max-width: 700px) {
.initialMockups {
  display: none
  }
}

.conclusion h2 {
  position: absolute;
  top: 280%;
  left: 25%;
  font-size: 2rem
}
@media only screen and (max-width: 700px) {
  .conclusion h2 {
    top: 162%;
    left: 9%;
  }
}
.conclusion p {
  position: absolute;
  top: 288%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 1.5rem
}
@media only screen and (max-width: 700px) {
  .conclusion p {
    top: 168%;
    padding-bottom: 10px;
    width: 400px
  }
}