.cmdkbutton{
    position: absolute;
    left: 93.5%;
    top: 5%;
    margin: 1rem 0rem 0rem 1.6rem;
    cursor: pointer;
    padding: 0.5% 0.1% !important;
    background-color: white;
    color: black;
    height: 8vh;
    width: 8vh;
    font-size: 7vh !important;
    transition: transform 250ms cubic-bezier(.2,.8,.4,1);
    z-index: 1;
  } 
  .cmdkbutton:hover{
      transform: scale(1.10);
      background-color: #fff;
  }
  .cmdkbutton:active{
      transform: scale(0.9);
  }  
  @media only screen and (max-width: 700px) {
    .cmdkbutton{
      position: absolute;
      margin: 1.5rem 0rem 0rem -5rem;
      cursor: pointer;
      width: 8vh
    }
  }

.title {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 3rem;
}
.subtitle {
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 1.3rem;
  text-align: center;
}